:plain
  <div class="character-edit-items-preview page book-right">
  </div>

  <div class="character-edit-items-side-panel book-cover">
    <div class="force-points-container">
    </div>

    <div class="section">
      <div class="section-header">
        Category
      </div>
    </div>
  </div>
