:plain
  <h1 class="large-heading">You applied to Join</h1>

  <div class="button-large icon-left applied-to-join-story">
    <i class="icon"></i>
    <%= story.get('title') %>
  </div>

  <div class="button-large icon-right applied-to-join-hero">
    <i class="icon"></i>
    <small>With the Hero</small>
    <%= hero.get('name') %>
  </div>

  <div class="button-large icon-left applied-to-join-god">
    <i class="icon"></i>
    <small>And the God</small>
    God Name Here
  </div>

  <div class="page-actions">
    <button class="book-button applied-ok">
      <span title="OK">OK</span>
    </button>
  </div>
