:plain
  <div class="completed-objective">
    <div class="gained-force-points"><%= message.getObjective().get('fpValue') %></div>
    &ldquo;<%= message.getObjective().get('name') %>&rdquo; complete!
  </div>
