:plain
  <div class="force-points-counter">
    <div class="force-points-count" title="<%= fp %>">
      <%= fp %>
    </div>

    <hr/>

    <div class="force-points-available">
      Force Points available.
    </div>
  </div>

  <div class="force-points-buy-more">
    Buy<br/>More
  </div>
