:plain
  <div class="page">
    <header>
      <h1><%= hero.get('name') %></h1>
      <h2>A library</h2>
    </header>

    <div class="hero-description">
      <img src="images/hero-large.png" class="hero-avatar" />
      <%= tww.h.simpleFormat(hero.get('description')) %>
    </div>
  </div>
