:plain
  <div class="section-header">
    Your Force Points
  </div>
  <div class="force-points-content">
    <div class="force-points-content-left-wrapper">
      <div class="force-points-content-left">
        <div class="force-points-counter">
          <div class="force-points-count">
            <%= fp %>
          </div>
          <div class="force-points-available">
            Force Points available.
          </div>
        </div>
        <button class="book-button force-points-buy-more">
          <span title="Buy More">Buy More</span>
        </button>
      </div>
    </div>
    <div class="force-points-content-right">
      Force Points make the Written World go round.
      When you do things in a story, you give Force
      Points to the stories God. When you complete
      Objectives, you earn more!
    </div>
  </div>
