:plain
  <div class="top-nav">
    <div class="nav-row">
      <a id="character-editor-goto-body">
        Body
      </a>
      <a id="character-editor-goto-items">
        Items
      </a>
      <a id="character-editor-goto-purchased">
        Purchased
      </a>
    </div>
  </div>

  <div id="character-editor-body" class="scrollable-container with-top-nav with-bottom-nav"></div>

  <div class="bottom-nav">
    <div class="nav-row">
      <a id="character-editor-goto-name">
        Name
      </a>
      <a id="character-editor-goto-story">
        Story
      </a>
      <a id="character-editor-goto-looks">
        Looks
      </a>
      <a id="character-editor-save">
        Save
      </a>
    </div>
  </div>
