:plain
  <header>
    <h1 class="large-heading">Create Your Heroes</h1>
    <h2>Start your story here</h2>
  </header>

  <div class="emboss character-edit-intro">
    <p>
      This is the Hero Creation tool. From here you can create a brand new hero
      to explore stories with, or make changes to a hero you already use. You
      can buy your hero new clothes and items as well!
    </p>
  </div>

  <div class="character-new-or-edit">
    <div class="character-new">
      <button class="button-tiny">New</button>
    </div>
    <div class="character-edit">
      <button class="button-tiny">Edit</button>
    </div>
  </div>
